@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #152A38;
  color: #E8FFFB;
}

/* Base styles */
@layer base {
  h2 {
    @apply text-lg md:text-xl lg:text-2xl font-[600];
  }
  h3 {
    @apply text-lg md:text-lg lg:text-xl font-[600];
  }
}